.App {
  text-align: center;
}

.App-logo {
  height: 120px;
  width: auto;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  margin-bottom: 35px;
  color: white;
}

.App-intro {
  font-size: large;
}

body {
  background-image: url('/background-poker.jpg');
  color: white;
}

img {
  max-width: 15%;
}

#ranking {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2em;
}
